<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DesCard000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,200}</string>
                <key>spriteSourceSize</key>
                <string>{122,200}</string>
                <key>textureRect</key>
                <string>{{0,0},{122,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DesCard001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,200}</string>
                <key>spriteSourceSize</key>
                <string>{122,200}</string>
                <key>textureRect</key>
                <string>{{122,0},{122,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DesCard002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,200}</string>
                <key>spriteSourceSize</key>
                <string>{122,200}</string>
                <key>textureRect</key>
                <string>{{244,0},{122,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DesCard003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,200}</string>
                <key>spriteSourceSize</key>
                <string>{122,200}</string>
                <key>textureRect</key>
                <string>{{366,0},{122,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DesCard004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,200}</string>
                <key>spriteSourceSize</key>
                <string>{122,200}</string>
                <key>textureRect</key>
                <string>{{488,0},{122,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DesCard005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,200}</string>
                <key>spriteSourceSize</key>
                <string>{122,200}</string>
                <key>textureRect</key>
                <string>{{610,0},{122,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DesCard006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,200}</string>
                <key>spriteSourceSize</key>
                <string>{122,200}</string>
                <key>textureRect</key>
                <string>{{732,0},{122,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DesCard007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,200}</string>
                <key>spriteSourceSize</key>
                <string>{122,200}</string>
                <key>textureRect</key>
                <string>{{854,0},{122,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DesCard008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,200}</string>
                <key>spriteSourceSize</key>
                <string>{122,200}</string>
                <key>textureRect</key>
                <string>{{976,0},{122,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DesCard009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,200}</string>
                <key>spriteSourceSize</key>
                <string>{122,200}</string>
                <key>textureRect</key>
                <string>{{1098,0},{122,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DesCard011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,198}</string>
                <key>spriteSourceSize</key>
                <string>{156,198}</string>
                <key>textureRect</key>
                <string>{{1220,0},{156,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DesCard012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,198}</string>
                <key>spriteSourceSize</key>
                <string>{156,198}</string>
                <key>textureRect</key>
                <string>{{1376,0},{156,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CardDes.png</string>
            <key>size</key>
            <string>{1532,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e849fdc43f91af267d76301a02f7b20:e5fd9a30fbd42de7aeaef53da1073644:41a9fa1dd6a484fb164441c7a62497a2$</string>
            <key>textureFileName</key>
            <string>CardDes.png</string>
        </dict>
    </dict>
</plist>
