<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Black_Wolf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,46}</string>
                <key>spriteSourceSize</key>
                <string>{70,46}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Blue_Wolf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,46}</string>
                <key>spriteSourceSize</key>
                <string>{70,46}</string>
                <key>textureRect</key>
                <string>{{70,0},{70,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{121,70},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death_Clone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{0,70},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,80}</string>
                <key>spriteSourceSize</key>
                <string>{57,80}</string>
                <key>textureRect</key>
                <string>{{64,70},{57,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skull.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,70}</string>
                <key>spriteSourceSize</key>
                <string>{58,70}</string>
                <key>textureRect</key>
                <string>{{140,0},{58,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Boss.png</string>
            <key>size</key>
            <string>{198,160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fb13268a566fcbf7aeb37c5baa8de7a:7726d742c3d4bad167a9175e35ded9f5:21cfae9c2ef8294adacbc5cfc054a3e6$</string>
            <key>textureFileName</key>
            <string>Boss.png</string>
        </dict>
    </dict>
</plist>
