<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BocPha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,76}</string>
                <key>spriteSourceSize</key>
                <string>{74,76}</string>
                <key>textureRect</key>
                <string>{{70,333},{74,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CotChuy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,80}</string>
                <key>spriteSourceSize</key>
                <string>{70,80}</string>
                <key>textureRect</key>
                <string>{{68,80},{70,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CotThuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{138,80},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CuLuc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,74}</string>
                <key>spriteSourceSize</key>
                <string>{64,74}</string>
                <key>textureRect</key>
                <string>{{55,0},{64,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CuongChien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,65}</string>
                <key>spriteSourceSize</key>
                <string>{70,65}</string>
                <key>textureRect</key>
                <string>{{0,160},{70,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DaChuy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,79}</string>
                <key>spriteSourceSize</key>
                <string>{70,79}</string>
                <key>textureRect</key>
                <string>{{70,160},{70,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DaoTac.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,79}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{183,0},{68,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DotKich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,80}</string>
                <key>spriteSourceSize</key>
                <string>{55,80}</string>
                <key>textureRect</key>
                <string>{{0,0},{55,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HuyetDao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{70,69}</string>
                <key>textureRect</key>
                <string>{{140,160},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MaTe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,80}</string>
                <key>spriteSourceSize</key>
                <string>{74,80}</string>
                <key>textureRect</key>
                <string>{{144,333},{74,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MinhHoa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{74,72}</string>
                <key>textureRect</key>
                <string>{{0,413},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PhaChuy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,83}</string>
                <key>spriteSourceSize</key>
                <string>{70,83}</string>
                <key>textureRect</key>
                <string>{{0,239},{70,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SongDao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,57}</string>
                <key>spriteSourceSize</key>
                <string>{74,57}</string>
                <key>textureRect</key>
                <string>{{74,413},{74,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TaVu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{119,0},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThietThuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,67}</string>
                <key>spriteSourceSize</key>
                <string>{74,67}</string>
                <key>textureRect</key>
                <string>{{148,413},{74,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TienPhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,86}</string>
                <key>spriteSourceSize</key>
                <string>{70,86}</string>
                <key>textureRect</key>
                <string>{{70,239},{70,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TieuCot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,94}</string>
                <key>spriteSourceSize</key>
                <string>{70,94}</string>
                <key>textureRect</key>
                <string>{{140,239},{70,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>VoUy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{0,333},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YeuKiem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,80}</string>
                <key>spriteSourceSize</key>
                <string>{68,80}</string>
                <key>textureRect</key>
                <string>{{0,80},{68,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monster.png</string>
            <key>size</key>
            <string>{251,485}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27e040f58db7fdf2f9554d72f824783f:ebda2a8ddcc875134d955fa828c2a57a:98f2afd2d677f0efd46026afa9a716bc$</string>
            <key>textureFileName</key>
            <string>Monster.png</string>
        </dict>
    </dict>
</plist>
