<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BocPha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{0,0},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CotChuy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{106,0},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CotThuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{212,0},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CuLuc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{318,0},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CuongChien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{424,0},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DaChuy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{530,0},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DaoTac.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{636,0},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DotKich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{742,0},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HuyetDao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{848,0},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MaTe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{954,0},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MinhHoa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{1060,0},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PhaChuy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{1166,0},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SongDao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{1272,0},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TaVu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{1378,0},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThietThuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{1484,0},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TienPhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{1590,0},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TieuCot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{1696,0},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>VoUy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{1802,0},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YeuKiem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{1908,0},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monster.png</string>
            <key>size</key>
            <string>{2014,137}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08cd414974d3f358663f62fa8f4cc5a1:32827fda55ef37e9a950b93cb368d79e:98f2afd2d677f0efd46026afa9a716bc$</string>
            <key>textureFileName</key>
            <string>Monster.png</string>
        </dict>
    </dict>
</plist>
