<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AmHuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{0,0},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AnVe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{106,0},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BaLong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{212,0},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BichNha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{318,0},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CuSon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{0,137},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DaAnh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{106,137},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DaKhach.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{212,137},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DaMieu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{318,137},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DiemLa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{0,274},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HacGiap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{106,274},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HacMoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{212,274},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HoSon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{106,411},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HoaTuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{318,274},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HongDiep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{0,411},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HungKien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{212,411},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HuyetTram.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{318,411},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LamHiep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{0,548},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LamNguyet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{106,548},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LamTinh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{212,548},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LamVu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{318,548},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LinhKhoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{0,685},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoiCo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{106,685},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MocLan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{212,685},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NhatDao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{318,685},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PhongNhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{0,822},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThietAnh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{106,822},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThietDinh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{212,822},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ThietThanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{318,822},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>VoTran.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{0,959},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>XichCuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{106,959},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Player.png</string>
            <key>size</key>
            <string>{424,1096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee5e34d6d4b0ca7c5d7129929e868645:60785a7500681f8c89587068cc9a45fd:18fcf80557a1b693f695decb3ad03513$</string>
            <key>textureFileName</key>
            <string>Player.png</string>
        </dict>
    </dict>
</plist>
